body {
font-family:'Roboto Condensed', sans-serif;
}

.masonry-brick {
font-size:10px;
width:200px;
}

.masonry-brick > h3 {
font-size:14px;
}

.navbar {
z-index:66666;
height:50px;
background:#0273D4;
color:#fff;
border-radius:0;
}

.playerDiv {
position:relative;
top:-20px;
z-index:0;
background:#1995FF;
}

div.dataTables_wrapper div.dataTables_paginate {
text-align:center;
}

a.paginate_button {
cursor:pointer;
}

.SportFiltre {
width:400px;
position:relative;
top:0;
background:#0273D4;
color:#fff;
border-radius:0;
}

.navbar2 {
background:#0288D4;
color:#fff;
border-radius:0;
}

.navbar2 > .nav-item {
width:100px;
text-align:center;
}

.modal.bottom-sheet {
    max-height: 80%;
}

.row {
margin-bottom:0;
}

td,th {
padding:10px 5px;
}

.iframePlayer{
	padding-top: 10px;
}

#iframePlayer{
	padding-top: 10px;
}

.ng-enter {
animation:slideInUp 1s both ease-in;
z-index:8888;
}

.ng-leave {
animation:slideOutLeft .5s both ease-in;
z-index:9999;
}

20% {
transform:rotateZ(10deg);
animation-timing-function:ease-out;
}

40% {
transform:rotateZ(17deg);
}

60% {
transform:rotateZ(16deg);
}

100% {
transform:translateY(100%) rotateZ(17deg);
}

to {
transform:translateY(0);
}

.navbar-inner > a,li > a,.navbar2 > a {
color:#fff;
}

table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after {
content:"";
}


.btn, .btn-large, .btn-flat {
		width: 80px;
    height: 24px;
    line-height: 24px;
    padding: 0;
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 15px;
}

i.left {
    /*float: left;*/
    margin-right: 0; 
}