<!DOCTYPE html>
<html ng-app="ngLiveHighlights" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> ~ LiveHighlights ~ </title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
   
   
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
   
    <link rel="stylesheet" type="text/css" href="css/angular-datatables.min.css">


   <link rel="stylesheet" type="text/css" href="css/style.css">


<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2289776593407763",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<script src='scripts/mdetect.js'></script>
    <script>
      (function ($, MobileEsp) {
        // On document ready, redirect to the App on the App store.
        $(function () {
          if (MobileEsp.DetectAndroid()) {
            alert("Website doesnt Support Mobile, get the app on Android to watch live streams.");
            window.location.href = 'https://play.google.com/store/apps/details?id=net.livehighlights.livefootballstreaming';
          }
        });
      })(jQuery, MobileEsp);
    </script>

</head>


<body ng-class="animation">
    
    <div class="asd">
        <ul id="slide-out" class="side-nav fixed RightMenuNav light-blue lighten-1 center-align show-on-small" style="width: 90px;">
            <li style="padding-bottom:200px;">
                <a href="http://192.168.1.199/Angular">
                    <img src="http://livehighlights.net/img/logo.png" style="width: 75px;">
                </a>
            </li>
            <li>
                <a href="#/" class="center-align">
                    <img src="http://livehighlights.net/assests/images/home.png" width="40px"/><span class="menuText">Home</span>
                </a>
            </li>
            <li>
                <a href="#/">
                    <img src="http://livehighlights.net/assests/images/player2.png" width="40px"/><span class="menuText">Streaming</span>
                </a>
            </li>
            <li>
                <a ng-href="#/Goals">
                    <img src="http://livehighlights.net/assests/images/goal.png" width="40px"/><span class="menuText">Goals</span>
                </a>
            </li>
            <li>
                <a href="#/About">
                    <img src="http://livehighlights.net/assests/images/about.png" width="40px"/><span class="menuText">About</span>
                </a>
            </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse">                   
            <i class="fa fa-bars" style="font-size:25px"></i>
        </a>
    </div>
    
    <div class="row marginContent" style="margin-left:85px;">
        <!-- Modal LiveGames -->
        <div id="LiveGames" class="modal bottom-sheet" style="margin-left:90px;z-index:9999999999999">
            <div class="modal-content">
                <h4 class="center-align">{{ TITLE }}</h4>
                <p>
                    <div class="col s12 centered valign" style="min-height:520px;margin-top: 25px;"> <!-- ng-if="!isHighlights"> -->
                        <div class="row">
                            <div class="col s12 centered valign">
                                <ul class="tabs">
                                    <li ng-repeat="(key, value) in (Links | splitOnly:',')" class="tab col s2">
                                        <a href="#Link{{ key + 1 }}" ng-click="ClickedLink(value)" style="display:block">Link #{{ key + 1 }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12 center-align valign iframePlayer" style="padding-top: 10px;">
                                <div class="col s4 center-align valign iframePlayer">
                                    <a href="http://pawtr.com/v/59072">
                                        <img src="https://affiliates.onlineaffiliateworld.com/tools-marketing_tools/download-one/104655.htm" width="300" height="250" alt="">
                                    </a>       <br/><br/>

                                    <script type="text/javascript">
                                        atOptions = {
                                            'key' : 'c9b9899abb7e2ee4fb50820a62d7a8aa',
                                            'format' : 'iframe',
                                            'height' : 250,
                                            'width' : 300,
                                            'params' : {}
                                        };
                                        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
                                    </script>                      
                                </div>
                                <div class="col s8 center-align valign iframePlayer">
                                    <iframe ng-src="{{ PlayerCode }}" id="iframePlayer" ng-bind-html="trustedHtml" width="960" height="540" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>      
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
            </div>
        </div>

        <!-- Modal Highlights -->
        <div id="Highlights" class="modal bottom-sheet" style="margin-left:90px;z-index:9999999999999">
            <div class="modal-content">
                <h4 class="center-align">{{ TITLE }}</h4>
                <p>
                    <div class="col-sm-12 center-align valign" style="min-height:520px;margin-top: 25px;" style="padding-top: 10px;"> <!-- ng-if="isHighlights"> -->
                        <iframe ng-src="{{ HighlightsCode }}" ng-bind-html="trustedHtml" width="960" height="540" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
            </div>
        </div>

        <!-- Modal Sports -->
        <div id="Sports" class="modal bottom-sheet" style="margin-left:90px;z-index:9999999999999">
            <div class="modal-content">
                <h4 class="center-align">{{ TITLE }}</h4>
                <p>
                    <div class="col m12 center-align valign" style="min-height:520px;margin-top: 25px;" style="padding-top: 10px;">
                        <div class="col m6">
                            <table id="StreamTable" ng-bind-html="TableWEB">
                                <!-- {{ TableWEB }} -->
                            </table>
                        </div>

                        <div class="col m6">
                            <table id="StreamTable" ng-bind-html="TableP2P">
                                <!-- {{ TableP2P }} -->
                            </table>
                        </div>

                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
            </div>
        </div>

    </div>

    <div class="row marginContent" id="main" style="position:relative;top:-100px;">
        <div ng-view class="view"></div>
    </div>
    <!-- <pre>{{ FootballGames | json }}</pre> -->

</body>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<!-- <script src="http://passy.github.io/angular-masonry/bower_components/masonry/masonry.js"></script> -->
<!-- <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script> -->

<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
<script src="https://code.angularjs.org/1.5.5/angular-animate.js"></script>

<!--<script src="node_modules/angular-route/angular-route.js"></script>-->



<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script> -->

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<script src="node_modules/moment/moment.js"></script>
<script src="node_modules/moment/locale/en-gb.js"></script>
<script src="node_modules/angular-moment/angular-moment.js"></script>

<script type="text/javascript" src="scripts/angular-masonry.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="scripts/ngLHController.js"></script>
<script type="text/javascript" src="scripts/AdsEngine.js"></script>

<script type="text/javascript" src="scripts/angular-datatables.min.js"></script>

<script type="text/javascript" src="scripts/script.js"></script>

<script type='text/javascript' src='http://go.oclasrv.com/apu.php?zoneid=466458'></script>

<script type="text/javascript">


 $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  
  
</script>
</html>